$outer_width : 1000px;
$outer_height : 500px;

#rad-container {
	position: absolute;
	left: 50%;
	top: 50%;
	background: #eee;
}

#rad-canvas {
  width: 100%;
  height: 100%;
  
}

#log {
	position: fixed;
	top: 1em;
	right: 1em;
	width: 300px;
	z-index: 500;
	background: #ccc;
	padding: 1em;
	display: none;
}

.inner {
	
	margin: 10px;
}

#landscape {
	height: $outer_height;
	background: green;
	position: relative;	
	width: 4000px;

	#rider {
		position: absolute;
		margin: 5px;
		width: 100px;
		bottom: 0;
		left: 0;
		height: 100px;
		background: grey;
	}
}

#landscape img {
	float: left;
	width: 450px;
}

.entry {
	
}



.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}