$outer_width : 1000px;
$outer_height : 500px;

#rob-container {
	position: relative;
	margin: 1em auto;

	background: #eee;
	height: 600px;
	width: 960px;
}

#rob-canvas {
  width: 100%;
  height: 100%;
  
}

#rob {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

#badge {
	position: absolute;
	top: 1em;
	left: 1em;

	z-index: 500;
	background: #fff;
	padding: 1em;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style:none;
		}
	}

	.value {
		font-weight: 800;
	}

}

.inner {
	
	margin: 10px;
}

#landscape {
	height: $outer_height;
	background: green;
	position: relative;	
	width: 4000px;

	#rider {
		position: absolute;
		margin: 5px;
		width: 100px;
		bottom: 0;
		left: 0;
		height: 100px;
		background: grey;
	}
}

#landscape img {
	float: left;
	width: 450px;
}

.entry {
	
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#search-container {
	position: absolute;
	top: 1em;
	right: 1em;
	label {
		color: #f47f1f;
		font-size: 125%;
	}
	#txt-searchbox {
		font-size: 1.5em;
		padding: 4px;
	}
}

#color {
	width: 100px;
	height: 100px;
}